* {
    margin: 0px;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body {
    background-color: #F0F8FF;
}
/*INÍCIO BARRA DE CONTATO*/
.container-contatos{
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr ;
    text-align: center;
}

.column-contact1 {
    
}

.column-contact2 {
    
}

.column-endereco {
    
}
/*FIM BARRA DE CONTATO*/






/*INÍCIO CONFIGURAÇÕES LOGO, PESQUISA, CARRINHO*/

.container-logo-pesquisa-carrinho {
    display: grid;
    grid-template-columns: 100px 1fr 50px;
    grid-template-rows: 100px;
    background-color: #DEB887;
    
}

.div--logo {
    background-color: brown;
    border-radius: 100%;

}

.div--pesquisa {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.div--pesquisa input {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    min-width: 400px;
}
.div--pesquisa input:focus {
    outline: none;
}


/*INÍCIO CONFIGURAÇÕES DO CARRINHO*/
.div--carrinho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
}

.b--carrinho {
    height: 4px;
    width: 20px;
    border-bottom: 2px solid #000;
}
/*FIM CONFIGURAÇÕES DO CARRINHO*/


.container-baner{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-image: url(/assets/images/banner.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 290px;
}

