* {
    margin: 0px;
    box-sizing:border-box;
    font-family: Helvetica;

}

/*INÍCIO BARRA DE CONTATO*/
.container-contatos{
    width: 100vw;
    display: grid;
    grid-template-columns: 250PX 1fr 1fr ;
    text-align: center;
    background-color: #F5F5DC;
    text-align: center;
}

.column-contact1 {


}
.column-contact1 img,
.column-contact2 img {
    width: 30px;
}

.column-contact1  a{
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.column-contact2,
.column-endereco {
    display: flex;
    justify-content: center;
    align-items: center;
}
.column-contact2 a{
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-endereco {

}
.column-endereco img {
    width: 15px;

}

.column-endereco a {
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*FIM BARRA DE CONTATO*/






/*INÍCIO CONFIGURAÇÕES LOGO, PESQUISA, CARRINHO*/

.container-logo-pesquisa-carrinho {
    display: grid;
    grid-template-columns: 100px 1fr 50px;
    grid-template-rows: 100px;
    background-color: #F5F5DC;
    
}

.div--logo {
    background-color: brown;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
    text-align: center;
}

.div--pesquisa {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.div--pesquisa input {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    min-width: 400px;
}
.div--pesquisa input:focus {
    outline: none;
}


/*INÍCIO CONFIGURAÇÕES DO CARRINHO*/
.div--carrinho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
}

.b--carrinho {
    height: 4px;
    width: 20px;
    border-bottom: 2px solid #000;
}
/*FIM CONFIGURAÇÕES DO CARRINHO*/


.container-baner{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-image: url(/assets/images/banner.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 290px;
}






/*CONFIGURAÇÃO SIDEBAR-LEFT*/


.bt-item {
    display: flex;
}