@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');


* {
    margin: 0px;
    box-sizing:border-box;


}
body {
    font-family: 'PT Serif', serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}

address {
    top: 0;
    font-style: normal;
    position: fixed;
}
/*INÍCIO BARRA DE CONTATO*/
.container-contatos{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: #1a8ac8;
    text-align: center;
    font-size: 11px;
}

.column-contact1 {


}
.column-contact1 img,
.column-contact2 img {
    width: 30px;
}

.column-contact1 a,
.column-contact2 a,
.column-endereco a {
    color: #FFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.column-contact2,
.column-endereco {
    display: flex;
    justify-content: center;
    align-items: center;
}



.column-endereco img {
    width: 15px;
    margin-right: 3px;

}

/*FIM BARRA DE CONTATO*/






/*INÍCIO CONFIGURAÇÕES LOGO, PESQUISA, CARRINHO*/

.container-logo-pesquisa-carrinho {
    display: grid;
    grid-template-columns:1fr 2fr;
    margin-bottom: 10px;
    
}

.div--logo {
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
    text-align: center;
    background-color: #1a8ac8;
    
}
.div--pesquisa {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color:#1a8ac8;
    width: 100%;
}
.div--logo img {
    width: 100px;
    height: 100px;
}


.div--pesquisa input {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
}

.div-input {
    width: 100%;
}
.div--pesquisa input:focus {
    outline: none;
}


/*INÍCIO CONFIGURAÇÕES DO CARRINHO*/
.div--carrinho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
}

.b--carrinho {
    height: 4px;
    width: 20px;
    border-bottom: 2px solid #000;

}
/*FIM CONFIGURAÇÕES DO CARRINHO*/


/*INÍCIO CONFIGURANDO SLIDER*/




/*FIM CONFIGURANDO SLIDER*/

/*INÍCIO CONFIGURANDO SIDEBAR*/
nav {
    background-color: rgb(252, 173, 4);
    padding-right: 5px;

}
nav>ul {
    color: #222;
    
}

.nav-sidebar-left {
    max-width: 12em;
    min-height: 12em;    
    margin-left: 10px;
    max-height: 309px;
}

h3 {
    margin-bottom: 5px;
    text-align: start;
    background-color: #1a8ac8;
    margin-left: 5px;
    margin-top: 5px;
    padding: 8px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}


li>ul {
    position: absolute;
    top: 0;
    left: 100%;
    width: 9em;
    display: none;
    background-color: rgb(252, 173, 4);
    margin-top: -5px;
    padding-top: 5px;
    padding-right: 5px;
}

ul>li {
    margin-bottom: 5px;
    background-color: #1a8ac8;
}

ul,li,h3 {
    padding-left: 5px;

}
li {
    position: relative;
    padding-bottom: 10px;

}

li{
    margin-bottom: 5px;

}
li:hover {
    color: #fff;
}

li>a {
    text-decoration: none;
    color: #222;
}
li>a:hover {
    color: #fff;
}
li :is(h4, a) {
    display: block;

}
li:hover>ul {
    display: block;

}

.ul-itens li {
    margin-bottom: 5px;
    background-color: #1a8ac8;

}

.ul-itens li:hover {
    color: #fff;
}
li,ul {
    text-align: start;
    cursor: pointer;
    
}

li>ul,
ul>li {
    list-style: none;
    
}

footer{
    margin-bottom: 100px;
    background-color: red;
}

/*FIM CONFIGURANDO SIDEBAR*/


.container-principal {
    display: grid;
    grid-template-columns: 1fr 4fr;

}

.div-produtos {
    height: auto;
    display: flex;
    background-color: pink;

}


.produto img {
    width: 100px;
}
.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.botao-item {
    display: flex;

}


.column{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    background-color: rebeccapurple;
    margin-right: 10px;
    flex: 1;
}

.div-produtos:first-of-type{
    padding-left: 10px;
}